
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table-striped tr:nth-of-type(odd) {
    background-color: #c1ee99; /* Pale green color for alternate rows */
}

/* Adjusted width for the AA sequence column */
.length-col {
    max-width: 200px; /* Adjusted from 1px to 200px for better readability */
    word-wrap: break-word;
}
